@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --clr-black: 24 11% 9%;
  --clr-grey: 20 3% 35%;
  --clr-white: 0 0% 100%;
  --clr-light: 30 50% 98%;
  --clr-blue: 194 98% 32%;
  --clr-brown: 36 99% 33%;
  --clr-purple: 255 61% 42%;
  --clr-lbrown: 24 33% 94%;

  /* font-families */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Poppins", sans-serif;

  /* font-sizes */
  --font-size-xl: 3rem;
  --font-size-l: 2rem;
  --font-size-m: 1.75rem;
  --font-size-s: 1.45rem;
  --font-size-xs: 1.25rem;
  --font-size-xxs: 1rem;
  --font-size-xxs: 0.83rem;
  --font-size-tiny: 0.77rem;
  --font-size-menu: 0.6666rem;
  --font-size-card-title: 1.1rem;

  /* spacing */
  --maxwidth: 70.22rem;
  --h-spacing: 1.1em;
  --v-spacing: 3.56em;
  --container-spacing-v: 1.1em;
  --container-spacing-h: 1.1em;
  --container-spacing-v-l: 1.3em;
  --container-spacing-h-l: 1.3em;
  --spacing-xxl: 6.67em;
  --spacing-xl: 3.56em;
  --spacing-l: 2.44em;
  --spacing-m: 1.77em;
  --spacing-s: 1.33em;
  --spacing-s-2: 1.11em;
  --spacing-xs: 0.88em;
  --spacing-xxs: 0.66em;
  --spacing-tiny: 0.44em;

  --animate-duration: 350ms;
  --animate-delay: 350ms;
  --animate-repeat: 1;
}

@media (min-width: 26.3125em) {
  :root {
    --font-size-xl: 3.1rem;
    --font-size-l: 2.1rem;
    --font-size-m: 1.85rem;
    --font-size-s: 1.55rem;
    --font-size-xs: 1.3rem;
    --font-size-xxs: 1.1rem;
    --font-size-menu: calc(12px + 6 * ((100vw - 421px) / 859));
  }
}

@media (min-width: 48.0625em) {
  :root {
    --h-spacing: 2.22em;
    --v-spacing: 6em;
    --container-spacing-v: 1.77em;
    --container-spacing-h: 1.77em;
    --container-spacing-v-l: 2.44em;
    --container-spacing-h-l: 2.44em;

    --font-size-xl: 3.2rem;
    --font-size-l: 2.2rem;
    --font-size-m: 1.95rem;
    --font-size-s: 1.65rem;
    --font-size-xs: 1.4rem;
    --font-size-xxs: 1.2rem;
    --font-size-tiny: 0.87rem;

    --font-size-card-title: calc(15px + 5 * ((100vw - 769px) / 511));
    --font-size-card-button: calc(15px + 3 * ((100vw - 769px) / 511));
  }
}
@media (min-width: 64.0625em) {
  :root {
    --h-spacing: 4.88rem;
    --container-spacing-v: 2.22rem;
    --container-spacing-h: 2.22rem;
    --container-spacing-v-l: 3.55rem;
    --container-spacing-h-l: 3.55rem;

    --font-size-xl: 3.3rem;
    --font-size-l: 2.3rem;
    --font-size-m: 2.05rem;
    --font-size-s: 1.75rem;
    --font-size-xs: 1.5rem;
    --font-size-xxs: 1.3rem;
    --font-size-tiny: 0.97rem;
  }
}

@media (min-width: 80em) {
  :root {
    --font-size-xl: 3.4rem;
    --font-size-l: 2.4rem;
    --font-size-m: 2.15rem;
    --font-size-s: 1.85rem;
    --font-size-xs: 1.6rem;
    --font-size-xxs: 1.4rem;
    --font-size-tiny: 1.07rem;
    --font-size-card-title: 1.22rem;
    --font-size-menu: 1rem;
  }
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

ul {
  list-style: none;
}

li,
ul {
  padding: 0;
  margin: 0;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: hsl(var(--clr-white));
    background: hsl(var(--clr-black));
  }
}

/* Typography */

h1 {
  line-height: 1.45;
  letter-spacing: -0.01em;
  font-size: var(--font-size-xl);
  font-family: var(--ff-secondary);
  font-weight: 600;
}

h2 {
  line-height: 1;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: var(--font-size-l);
  font-family: var(--ff-secondary);
}
h3 {
  line-height: 1.75;
  letter-spacing: 2.2px;
  font-size: var(--font-size-m);
  font-family: var(--ff-secondary);
  font-weight: 500;
}
h4 {
  line-height: 1;
  letter-spacing: 2.2px;
  font-size: var(--font-size-s);
  font-family: var(--ff-secondary);
  font-weight: 500;
}
p {
  font-family: var(--ff-primary);
  font-weight: 400;
  letter-spacing: normal;
}

li {
  font-weight: 500;
  letter-spacing: 1.4px;
  font-family: var(--ff-primary);
}

body {
  font-family: var(--ff-primary);
  font-size: var(--font-size-xs);
  line-height: 1.5;
  color: hsl(var(--clr-black));
  background-color: hsl(var(--clr-light));
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
span {
  line-height: 1.25;
}
a {
  color: hsl(var(--clr-black));
  text-decoration: none;
  font-size: var(--fs-nav-links);
  font-family: var(--ff-primary);
  font-weight: 500;
  letter-spacing: 1.4px;
  line-height: 1;
}
input {
  font-size: var(--fs-td-number);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.9px;
}

.btn {
  display: inline-block;
  padding: 0.85em 1em;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-purple));
  opacity: 1;
  border: none;
  border-color: transparent;
  border-radius: 2.6rem;
  outline: 0;
  font-family: var(--ff-primary);
  font-size: var(--font-size-s);
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0.11 0.22 rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .btn {
    align-self: unset;
  }
}

.container {
  margin: 0 auto;
  max-width: var(--maxwidth);
  padding: 0 var(--h-spacing);
}
section {
  margin: var(--v-spacing) 0;
  padding: 0;
  background-color: inherit;
}

main {
  padding-top: 6rem;
}
