.plan-card-layout {
  border-radius: 0.88rem;
  display: grid;
  align-items: center;
  grid-column-gap: var(--spacing-m);
  grid-row-gap: var(--spacing-l);
  grid-template-columns: 100%;
  background-color: hsl(var(--clr-lbrown));
  padding: var(--container-spacing-v) var(--spacing-xs);
}

.iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.plan-details-subtitle {
  color: hsl(16, 12%, 56%);
  font-weight: 700;
  font-size: var(--font-size-xxs);
  letter-spacing: 0.1em;
  margin-bottom: 0.22rem;
  text-transform: uppercase;
}

.plan-details-title {
  font-weight: 600;
  margin-bottom: 0.22rem;
  line-height: 1.45;
  letter-spacing: -0.01em;
  font-size: var(--font-size-xs);
}

.plan-details-list {
  margin-top: var(--spacing-s);
  margin-left: 3rem;
}
.plan-details-list > :last-child {
  margin-bottom: 0;
}

.plan-details-list-item {
  margin-bottom: var(--spacing-s);
  position: relative;
  font-size: var(--font-size-xxs);
  color: #5c5856;
  font-weight: 500;
  letter-spacing: normal;
}
.plan-details-list-item::before {
  position: absolute;
  content: "";
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 2.22rem;
  height: 2.22rem;
  margin-right: var(--spacing-xs);
  background-color: hsl(var(--clr-light));
  background-image: url("../public/icons/brown-check.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 1rem;
  border-radius: 100%;
  color: hsl(16, 12%, 56%);
}

@media screen and (min-width: 75em) {
  .plan-card-layout {
    grid-template-columns: 60% minmax(0, 1fr);
  }

  .plan-details-title {
    font-size: var(--font-size-m);
  }
}
