.pricing-table-container {
  padding-inline: 0.2rem;
  margin: 0 auto;
}
@media screen and (min-width: 32em) {
  .pricing-table-container {
    padding-inline: var(--container-spacing-h);
  }
}
.pricing-table {
  display: grid;
  grid-template-columns: 1fr 0.5fr repeat(7, 1fr);
  row-gap: 1.5rem;
  position: relative;
  padding-inline: var(--spacing-xxs);
  padding-block: var(--spacing-s);
  border: 0;
  box-shadow: 0 0.1111111111rem 0.3333333333rem 0 rgba(0, 0, 0, 0.25);
  background-color: hsl(var(--clr-white));
  border-radius: 0.8rem;
  letter-spacing: 1;
}
@media screen and (min-width: 75em) {
  .pricing-table {
    grid-template-columns: 1fr 0.5fr repeat(3, 1fr);
    padding-inline: var(--spacing-s);
  }
}

.pricing-table::before {
  border-radius: 0.8rem;
  box-shadow: inset 0 0 0 0.0555555556rem rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.pricing-table ul > li {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-xxs);
  font-weight: 600;
}
@media screen and (min-width: 75em) {
  .pricing-table ul > li {
    margin-bottom: 0.75rem;
    font-weight: 500;
  }
}
.type-price {
  font-size: var(--font-size-xs);
  font-weight: 600;
}
.type-save {
  font-size: var(--font-size-xxs);
}
.type-save-desc {
  font-size: var(--font-size-xxs);
}
.table-header {
  grid-column: span 10;
  text-align: center;
  margin-block: var(--spacing-xxs) var(--spacing-xs);
}

@media screen and (min-width: 75em) {
  .table-header {
    grid-column: span 2;
    margin-block: unset;
    grid-row: 1/2;
    justify-self: flex-start;
    line-height: 1.75;
  }
  .type-save-desc {
    font-size: var(--font-size-xxs);
  }
}

.types-container {
  grid-column: span 10;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media screen and (min-width: 75em) {
  .types-container {
    grid-column: span 3;
    grid-row: 1/2;
    justify-content: space-around;
  }
}

.mover-type-container,
.shaker-type-container,
.earth-type-container {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.mover-type-header {
  color: hsl(var(--clr-blue));
  font-weight: 700;
}
.shaker-type-header {
  color: hsl(var(--clr-purple));
  font-weight: 700;
}
.earth-type-header {
  color: hsl(var(--clr-brown));
  font-weight: 700;
}

.table-attribute {
  grid-column: span 10;
  text-align: center;
  border-bottom: 1px solid hsl(var(--clr-black) / 0.5);
  padding-bottom: 0.1em;
}

@media screen and (min-width: 75em) {
  .table-attribute {
    grid-column: 1 / 5;
    text-align: left;
    border-bottom: unset;
    padding-bottom: unset;
  }
  h3.table-attribute:nth-child(3) {
    grid-row: 2/3;
  }
  h3.table-attribute:nth-child(10) {
    grid-row: 4/5;
  }
  h3.table-attribute:nth-child(17) {
    grid-row: 6/7;
  }
  h3.table-attribute:nth-child(24) {
    grid-row: 8/9;
  }
  h3.table-attribute:nth-child(31) {
    grid-row: 10/11;
  }
}

.pricing-container {
  margin-bottom: 2rem;
}
.core-list,
.sell-list,
.market-list,
.email-list,
.extras-list {
  grid-column: 1/4;
  display: grid;
  align-items: flex-start;
}

.core-mover-list,
.sell-mover-list,
.market-mover-list,
.email-mover-list,
.extras-mover-list {
  grid-column: 4/6;
  display: grid;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width: 75em) {
  .core-mover-list,
  .sell-mover-list,
  .market-mover-list,
  .email-mover-list,
  .extras-mover-list {
    grid-column: 3/4;
    grid-row: inherit;
  }
}

.core-shaker-list,
.sell-shaker-list,
.market-shaker-list,
.email-shaker-list,
.extras-shaker-list {
  grid-column: 6/8;
  display: grid;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width: 75em) {
  .core-shaker-list,
  .sell-shaker-list,
  .market-shaker-list,
  .email-shaker-list,
  .extras-shaker-list {
    grid-column: 4/5;
  }
}

.core-earthquake-list,
.sell-earthquake-list,
.market-earthquake-list,
.email-earthquake-list,
.extras-earthquake-list {
  grid-column: 8/10;
  display: grid;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width: 75em) {
  .core-earthquake-list,
  .sell-earthquake-list,
  .market-earthquake-list,
  .email-earthquake-list,
  .extras-earthquake-list {
    grid-column: 5/6;
  }
}

.core-mover-list > li,
.sell-mover-list > li,
.market-mover-list > li,
.email-mover-list > li,
.extras-mover-list > li,
.core-shaker-list > li,
.sell-shaker-list > li,
.market-shaker-list > li,
.email-shaker-list > li,
.extras-shaker-list > li,
.core-earthquake-list > li,
.sell-earthquake-list > li,
.market-earthquake-list > li,
.email-earthquake-list > li,
.extras-earthquake-list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-tiny);
}

.mover-check,
.shaker-check,
.earthquake-check {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 75em) {
  .mover-check,
  .shaker-check,
  .earthquake-check {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
  }
}

.mover-check {
  background-color: hsl(var(--clr-blue) / 0.2);
}
.shaker-check {
  background-color: hsl(var(--clr-purple) / 0.2);
}
.earthquake-check {
  background-color: hsl(var(--clr-brown) / 0.2);
}

.mover-check::after {
  content: url("../public/icons/green-check.svg");
}

.earthquake-check::after {
  content: url("../public/icons/brown-check.svg");
}
.shaker-check::after {
  content: url("../public/icons/purple-check.svg");
}

.mover-check.none::after {
  content: url("../public/icons/close-blue.svg");
  opacity: 0.6;
}
.shaker-check.none::after {
  content: url("../public/icons/close-purple.svg");
  opacity: 0.6;
}

.mover-check.none {
  background-color: hsl(var(--clr-blue) / 0.1);
}
.shaker-check.none {
  background-color: hsl(var(--clr-purple) / 0.1);
}

.no-check {
  min-width: 80px;
  max-width: 8ch;
  height: unset;
  border-radius: 0;
  position: static;
  background-color: unset;
  text-align: center;
}
.mover-check.no-check::after,
.shaker-check.no-check::after,
.earthquake-check.no-check::after {
  content: unset;
}

@media screen and (min-width: 75em) {
  .mover-check::after,
  .earthquake-check::after,
  .shaker-check::after {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    left: 5px;
    text-align: center;
  }
}

.earth-badge,
.mover-badge,
.shaker-badge {
  width: clamp(50px, 80px, 8ch);
  min-width: unset;
  border-radius: 10px;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  line-height: 1;
  font-size: var(--font-size-tiny);
}

.mover-badge {
  background-color: hsl(var(--clr-blue) / 0.2);
  color: hsl(var(--clr-blue));
}
.shaker-badge {
  background-color: hsl(var(--clr-purple) / 0.2);
  color: hsl(var(--clr-purple));
}

.earth-badge {
  background-color: hsl(var(--clr-brown) / 0.2);
  color: hsl(var(--clr-brown));
  border-radius: 10px;
}
@media screen and (min-width: 75em) {
  .earth-badge,
  .mover-badge,
  .shaker-badge {
    width: unset;
    min-width: max-content;
    padding: 0.22em 0.55em;
    border-radius: 4.44rem;
    font-size: var(--font-size-xxs);
  }
}

.migrate {
  grid-column: span 10;
  background-color: hsl(var(--clr-lbrown));
  text-align: center;
  font-size: var(--font-size-xxs);
  line-height: 2;
  padding: 1.5em;
  border-radius: 10px;
}
.migrate-link {
  color: hsl(var(--clr-purple));
  display: block;
  line-height: 2;
  text-decoration: underline;
}
@media screen and (min-width: 32em) {
  .pricing-table-container {
    padding-inline: var(--container-spacing-h);
  }
}
@media screen and (min-width: 75em) {
  .core-list,
  .core-mover-list,
  .core-shaker-list,
  .core-earthquake-list {
    grid-row: 3/4;
  }

  .sell-list,
  .sell-mover-list,
  .sell-shaker-list,
  .sell-earthquake-list {
    grid-row: 5/6;
  }
  .market-list,
  .market-mover-list,
  .market-shaker-list,
  .market-earthquake-list {
    grid-row: 7/8;
  }
  .email-list,
  .email-mover-list,
  .email-shaker-list,
  .email-earthquake-list {
    grid-row: 9/10;
  }
  .extras-list,
  .extras-mover-list,
  .extras-shaker-list,
  .extras-earthquake-list {
    grid-row: 11/12;
  }
}
